In [43]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
#https://docs.sqlalchemy.org/en/latest/core/engines.html

#SQL Server   
#engine = create_engine('mssql+pymssql://SA:Posztodi4C4@localhost:1433/TestDatabase')

#SQLite
engine = create_engine('sqlite://///home/peter/.dbeaver4/.metadata/sample-database-sqlite-1/Chinook.db')

In [10]:
sql ="""
SELECT 
track.TrackId
,track.Name as TrackName
,album.title as AlbumTitle
,genre.Name as Genre
,track.Bytes / (1024*1024) as TrackMB
,track.unitprice
from PlaylistTrack
inner join Playlist on Playlist.PlaylistId = PlaylistTrack.PlaylistId and Playlist.PlaylistId = 1
inner join Track on Track.TrackId = PlaylistTrack.TrackId
inner join Album on Album.AlbumId = Track.AlbumId
inner join Genre on genre.GenreId = track.GenreId
"""

In [32]:
df = pd.read_sql(sql,engine,index_col='TrackId')
newdf = df[(df['Genre'] == 'Rock') & (df['TrackMB'] >= 10)]
newdf.head()

,TrackName,AlbumTitle,Genre,TrackMB,UnitPrice
TrackId,,,,,
1,For Those About To Rock (We Salute You),For Those About To Rock We Salute You,Rock,10,0.99
15,Go Down,Let There Be Rock,Rock,10,0.99
17,Let There Be Rock,Let There Be Rock,Rock,11,0.99
19,Problem Child,Let There Be Rock,Rock,10,0.99
20,Overdose,Let There Be Rock,Rock,11,0.99

In [38]:
newdf.to_sql(name='NewDfTable',con=engine,index=True,if_exists='replace')

In [18]:
useridpath = '/home/peter/Downloads/LastFM/userid-profile.tsv'
userid = pd.read_csv(filepath_or_buffer=useridpath, header=0, sep='\t')
userid.head()

           #id gender   age        country    registered
0  user_000001      m   NaN          Japan  Aug 13, 2006
1  user_000002      f   NaN           Peru  Feb 24, 2006
2  user_000003      m  22.0  United States  Oct 30, 2005
3  user_000004      f   NaN            NaN  Apr 26, 2006
4  user_000005      m   NaN       Bulgaria  Jun 29, 2006

In [ ]:
#Dataffirm tasks

In [41]:
oneline = pd.read_csv(filepath_or_buffer=useridpath,sep='\t', nrows=1,skiprows=1,header=None)
memforline = psutil.virtual_memory().available / sys.getsizeof(oneline) * 0.9

In [44]:
songspath = '/home/peter/Downloads/LastFM/userid-timestamp-artid-artname-traid-traname.tsv'
chunks = int(memforline)
batch = 1
chunklist = []

for chunk in pd.read_csv(filepath_or_buffer=songspath, header=None, sep='\t', chunksize=chunks,
                         names=['userid','timestamp','musicbrainz-artist-id','artist-name','musicbrainz-track-id','track-name']
                        ):
    
    chunk['timestamp'].astype('datetime64[ns]')
    #chunk.groupby('userid')['track-name'].value_counts()
    chunklist.append(chunk)
    
    print('batch ',batch, ' finished')
    batch += 1
    
print('loop finished')
final = pd.concat(chunklist)

batch  1  finished
batch  2  finished
loop finished

In [45]:
psutil.virtual_memory()

svmem(total=8153845760, available=120143872, percent=98.5, used=7218020352, free=157347840, active=6708146176, inactive=1018793984, buffers=5357568, cached=773120000, shared=563888128, slab=105558016)

In [21]:
songspath = '/home/peter/Downloads/LastFM/userid-timestamp-artid-artname-traid-traname.tsv'
chunks = memforline
batch = 1
chunklist = []
for chunk in pd.read_csv(filepath_or_buffer=songspath, header=None, sep='\t', chunksize=chunks,
                         names=['userid','timestamp','musicbrainz-artist-id','artist-name','musicbrainz-track-id','track-name']
                        ):
    chunklist.append(chunk)
    print('batch ',batch, ' finished')
    batch += 1
    
print('loop finished')
final = pd.concat(chunklist)
final['timestamp'] = final['timestamp'].astype('datetime64[ns]')

batch  1  finished
batch  2  finished
batch  3  finished
batch  4  finished
batch  5  finished
batch  6  finished
batch  7  finished
batch  8  finished
batch  9  finished
batch  10  finished
batch  11  finished
batch  12  finished
batch  13  finished
batch  14  finished
batch  15  finished
batch  16  finished
batch  17  finished
batch  18  finished
batch  19  finished
batch  20  finished

In [8]:
final = final.sort_values(['userid','timestamp'])

In [ ]:
x['SessionTimeinMinutes'] = x['SessionTime'].dt.total_seconds().div(60).abs()
x['20mins'] = x['SessionTimeinMinutes'] < 20
x[x['20mins']]

In [29]:
#TaskA
final.groupby('userid')['track-name'].value_counts().head(100);

userid       track-name
user_000001  Music                                                            70
             Gum                                                              63
             Mario Basanov & Vidis ‘Test’                                     52
             Child Song                                                       45
             Hibari                                                           42
             Flite                                                            41
             To Build A Home                                                  41
             All That You Give                                                38
             Reckoner                                                         37
             Tibetan Dance (Version)                                          37
             Feelin' Your Bright Light (ただ、光る） Featuring Ten                  35
             Happyend (Live_2009_4_15)                                        35
             Behind The Mask (Live_2009_4_15)                                 34
             Free                                                             34
             Beautiful Burnout                                                33
             Clap & Whistle & Walking                                         33
             Boy, Boy, Boy                                                    32
             Everything Is Alright                                            31
             Familiar Ground                                                  31
             Glam Bucket                                                      31
             Hwit                                                             31
             Larry Heard Presents Mr. White ‘You Rock Me’ (Long Version)      31
             Untitled                                                         31
             Wahoo Feat. Paul Randolphdon'T Take It Personal                  31
             Breezin'                                                         30
             City Lights                                                      30
             Hitchhiker'S Choice                                              30
             Let Me Show Ya                                                   30
             N’Dambi ‘Can’T Change Me’ (Ron Trent Remix)                      30
             Parc                                                             30
                                                                              ..
             Cuddle Bunny Vs The Celtic Villages                              25
             In The Red                                                       25
             Jikan Wo Tomete (Featuring Maki Nomiya)                          25
             Like A Rolling Stone                                             25
             Little Bird                                                      25
             Not Hearing A Word                                               25
             Phlash & Friends ‘Revolution = Solution’                         25
             Scum                                                             25
             To Heal                                                          25
             We All                                                           25
             15 Step                                                          24
             Crocodile                                                        24
             Fit Song                                                         24
             La Ritournelle                                                   24
             Nothing Will Change It                                           24
             When I Die                                                       24
             Alright (Interlude)                                              23
             Deetron Feat. Ovasoul7 ‘I Cling’                                 23
             Holding The Moth                                                 23
             Intro                                                            23
             Mike Dunn Presents The Md X-Spress ‘This Here Is House Muzik’    23
             Mind Wall (Feat. Miho Hatori)                                    23
             Nude                                                             23
             Sandy Rivera & Jose Burgos ‘This Will Change It’                 23
             Sleep Warm                                                       23
             So Far From Home                                                 23
             We'Re In Love                                                    23
             You Get Me (Feat. Josée Hurlock)                                 23
             You'Ve Got Me Thinking                                           23
             Bodysnatchers                                                    22
Name: track-name, Length: 100, dtype: int64

In [34]:
#TaskB
final.groupby(['artist-name','track-name'])['track-name'].count().reset_index(name='played').sort_values(['played'],ascending=False).head(10)

                 artist-name               track-name  played
1297507   The Postal Service       Such Great Heights    3991
182347          Boy Division  Love Will Tear Us Apart    3651
1010920            Radiohead             Karma Police    3533
319890   Death Cab For Cutie          Soul Meets Body    3479
868054                  Muse  Supermassive Black Hole    3463
1273109            The Knife               Heartbeats    3155
83410            Arcade Fire         Rebellion (Lies)    3047
868024                  Muse                Starlight    3040
191434        Britney Spears               Gimme More    3002
1271575          The Killers      When You Were Young    2997

In [ ]:
final.head(5)

In [ ]:
import pandas as pd

def chunck_generator(filename, header=False,chunk_size = 10 ** 5):
    for chunk in pd.read_csv(filename,delimiter=',', iterator=True, chunksize=chunk_size, parse_dates=[1] ): 
        yield (chunk)

def _generator( filename, header=False,chunk_size = 10 ** 5):
    chunk = chunck_generator(filename, header=False,chunk_size = 10 ** 5)
    for row in chunk:
        yield row

if __name__ == "__main__":
filename = r'file.csv'
        generator = generator(filename=filename)
        while True:
            print(next(generator))

In [17]:
import psutil
import sys
psutil.virtual_memory().available

4631982080

In [14]:
sys.getsizeof(x)

136